/*
 Description:  Admin dashboard plugin styles
*/

.instructions	{
	background-color:#ff0000 !important;
}

.form-posts	{
	background-color:#ff0000 !important;
}

label	{
	font-weight:25px;
}